.button {
  font-weight: 700;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.button--mode-primary {
  color: white;
  background-color: #1ea7fd;
}
.button--mode-secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.button--shape-rounded {
  border-radius: 3em;
}
.button--shape-brick {
  border-radius: 0.5em;
}
.button--size-small {
  font-size: 12px;
  padding: 10px 16px;
}
.button--size-medium {
  font-size: 14px;
  padding: 11px 20px;
}
.button--size-large {
  font-size: 16px;
  padding: 12px 24px;
}
.button__span {
  white-space: nowrap;
}
